.root {
    -fx-font-family: "System";
    -fx-font-size: 12.71764705882353px;
    -fx-base: #fb0120;
    -fx-background: #303030;
    -fx-focus-color: #90A959;
    -fx-control-inner-background: #303030;
    -fx-text-base-color: #AC4142;
    -fx-text-background-color: #D28445;
    -fx-inner-border: linear-gradient(to bottom, derive(-fx-color, 62.81355932203388%) 0%, derive(-fx-color, -19.596282121377804%) 100%);
    -fx-body-color: linear-gradient(to bottom, derive(-fx-color, 62.81355932203388%) 0%, derive(-fx-color, -3.2881355932203604%) 50%, derive(-fx-color, -3.474576271186436%) 50.5%, derive(-fx-color, -38.33898305084746%) 100%);
    -fx-outer-border: derive(-fx-color, -54.57627118644067%);
    -fx-shadow-highlight-color: derive(-fx-background, -100.0%);
    -fx-text-box-border: derive(-fx-background, 40.67796610169492%);
}

.button, .toggle-button, .choice-box {
    -fx-background-radius: 14, 14, 13, 12;
    -fx-padding: 5px 12px 5px 12px;
    -fx-text-fill: #000000;
}

.menu-button {
    -fx-background-radius: 14, 14, 13, 12;
}

.menu-button .label {
    -fx-padding: 5px 20px 5px 12px;
}

.menu-button .arrow-button {
    -fx-padding: 5px 8px 5px 0px;
}

.choice-box {
    -fx-padding: 0 8px 0 0;
}

.choice-box .label {
    -fx-padding: 5px 6px 5px 8px;
}

.choice-box .open-button {
    -fx-padding: 1 0 0 10px;
}

.combo-box-base:editable .text-field, .combo-box-base .arrow-button, .combo-box .list-cell {
    -fx-padding: 5px 8px 5px 8px;
}

.check-box .box {
    -fx-padding: 0.25em;
}

.radio-button .radio {
    -fx-padding: 0.333333em;
}

.hyperlink, {
    -fx-text-fill: -fx-text-background-color;
}

.toggle-button:selected {
    -fx-text-fill: -fx-text-base-color;
}

.label, .check-box, .radio-button {
    -fx-text-fill: -fx-text-background-color;
}

.button, .toggle-button, .check-box .box, .radio-button .radio, .choice-box, .menu-button, .tab, .combo-box-base {
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}

.button:focused, .toggle-button:focused, .check-box:focused .box, .radio-button:focused .radio, .choice-box:focused, .menu-button:focused, .combo-box-base:focused {
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base .arrow-button {
    -fx-background-insets: 0, 1, 2;
}

.choice-box .label { /* Workaround for RT-20015 */
    -fx-text-fill: -fx-text-base-color;
}

.menu-button .label { /* Workaround for RT-20015 */
    -fx-text-fill: -fx-text-base-color;
}
